*{
    margin: 0;
    padding: 0;
}
nav{
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
nav img{
    width:93px;
    height: 18px;
    margin: 21px 0px 21px 10px;

}
#pos{
    margin: 0px 30px;
    background-color: #f1f1f1;
    overflow:hidden;
}
#pos img#banner{
    width: 100%;
}
#pos article{
    margin:50px 0px;
}
#pos #info{
    display: inline-block;
    margin: 150px 80px  0 350px;
    font-size: 14px;
}
#pos #info p:nth-child(1){
    font-size: 24px;
    margin-bottom: 20px;
}





footer{
    margin: 0 30px;
}
footer p:nth-child(1){
    height: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    color: white;
    margin: 0px;
    background-color: #4C8ADD;
}
footer p:nth-child(2){
    height: 180px;
    margin: 0px;
    position: relative;
    background-color: #3D7BD0;
   
}
footer p img{
    display:block;
    width: 270px;
    height: 54px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}