@media screen and (max-width: 700px) {
	*{
		margin: 0;
		padding: 0;
	}
	#set{
		position: absolute;
		top: 12px;
		right: 12px;
	}
	#title{
		padding:0px;
		margin:0px;
		text-align: center;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
	}
	#counter{
		width: 30%;
		position: absolute;
		right:0px;
	}
	ul li{
		background-color: white;
		height: 45px;
		line-height: 35px;
		border: 1px solid #f1f1f1;
		font-size: 1.4em;
		text-align: center;
		list-style-type: none;
		padding: 5px;
	}	
	#event{
		width: 95%;
		margin: 0 auto;
	}
	#event span{
		display: block;
		text-align: center;
		font-size: 40px;
		height: 80px;
		line-height: 80px;
	}
	#event p{
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 32.4%;
		font-size: 20px;
		text-align: center;
		background:#f1f1f1;
	}
	#event .edown{
		background-color:#5d9cec;
		color:white;
	}


	#content{
		height: 300px;
	}
	#graph{
		margin-top: 30px;
		border-top: 1px solid #f1f1f1 ;
		clear: both;
	}

	#graph .title{
	    display:inline-block;
	    line-height: 30px;
	    width:80px;
	    height:30px;
	    font-size: 20px;
	    position:relative;
	    top:-15px;
	    left: 40px;
	    text-align: center;
	    background: white;
	}
	#graph .sel{
	    display:inline-block;
	    float:right;
	    margin-top: -15px;
	}
	.sel button{
		border-color: #f1f1f1;
		background-color: #5d9cec;
		color:white;
	}
	#graph .down{
		background-color:#f1f1f1;
		color:black;
	}
	

	.no{
		font-size: 24px;
		color:#5d9cec;
		text-align: center;
		margin-top: 20px;
	}


	
	#submitAll{
		width: 95%;
		background-color: #5d9cec;
		margin: 0 auto;
		display: block;
	}

	.view{
		width: 95%;
		margin: 0 auto;
		height: 80px;
		margin-top: 10px;
	}
	.top{
		height: 40px;
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		font-size: 14px;
		background-color: #5d9cec;
		color:white;
	}
	.bottom{
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0px;
		font-size: 14px;
		background-color:#f1f1f1;
	}
	.top  span:first-child{
		display: inline-block;
		width: 45%;
		text-align: center;
	}
	.top  span:nth-child(2){
		display: inline-block;
		width: 28%;
		text-align: center;
	}
	.top  span:nth-child(3){
		display: inline-block;
		width: 20%;
		text-align: center;
		white-space:nowrap;
	}
	.bottom  span:first-child{
		display: inline-block;
		width: 28%;
		text-align: center;
	}
	.bottom  span:nth-child(2){
		display: inline-block;
		width: 26%;
		text-align: center;
	}
	.bottom  span:nth-child(3){
		display: inline-block;
		width: 30%;
		text-align: left;
		white-space:nowrap;
	}
	.view .bottom button{
		background-color: #5d9cec;
		border-color: #5d9cec;
	}
	
}
	
