@media screen and (max-width: 700px) {
	*{
		margin: 0;
		padding: 0;
	}

	*{
		margin: 0;
		padding: 0;
	}
	#set{
		position: absolute;
		top: 12px;
		right: 12px;
	}
	#title{
		padding:0px;
		margin:0px;
		text-align: center;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
	}	
	#title1{
		margin: 0px;
		text-align: center;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		color: #1f1f1f;
	}
	
	
	.no{
		font-size: 24px;
		color:#5d9cec;
		text-align: center;
		margin-top: 20px;
	}

	#shop{
		width: 30%;
		position: absolute;
		right:0px;
	}
	#shop ul li{
		background-color: white;
		height: 45px;
		line-height: 35px;
		border: 1px solid #f1f1f1;
		font-size: 1.4em;
		text-align: center;
		list-style-type: none;
		padding: 5px;
	}	
	#event{
		width: 95%;
		margin: 0 auto;
	}
	#event span{
		display: block;
		text-align: center;
		font-size: 40px;
		height: 110px;
		line-height: 110px;
	}
	#event p{
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 48%;
		font-size: 20px;
		text-align: center;
		background:#f1f1f1;
	}
	
	#graph{
		margin-top: 40px;
		border:1px solid #f1f1f1;
	}
	#graph .sel{
	    float: right;
	    margin-top: -15px;
	}
	.title{
	    line-height: 30px;
	    width:80px;
	    height:30px;
	    font-size: 20px;
	    position:relative;
	    top:-15px;
	    left: 40px;
	    text-align: center;
	    background: white;
	}
	#graph .down{
		background-color: #f1f1f1;
		color:black;
	}
	.sel button{
		border-color: #f1f1f1;
		background-color: #5d9cec;
		color:white;
	}

	#dot{
		margin-top: 20px;
		border:1px solid #f1f1f1;
		background-color: white;
	}
	#contentGraph{
		width: 100%;
		height: 300px;
	}
	#contentDot{
		width: 100%;
		height: 300px;
	}


	#role span{
		display: inline-block;
    	border: 1px solid #f1f1f1;
		text-align: center;
		font-size: 20px;
		background-color: #5d9cec;
		width: 50%;
		padding: 2px;
		color:white;
	}
	#role .rdown{
		background-color:#f1f1f1;
		color: black;
	}

	#timeSel span{
		text-align: center;
		display: inline-block;
		background:#5d9cec;
		color: white;
	    height: 30px;
	    line-height: 30px;
	    font-size: 18px;
	}
	#timeSel .tdown{
		background-color:#f1f1f1;
		color: black;
	}

	#timeSel span:nth-child(1){	
	    width: 20%;
	}
	#timeSel span:nth-child(2){
	    width: 20%;
	}
	#timeSel span:nth-child(3){
	    width: 30%;
	}
	#timeSel span:nth-child(4){
	    width: 26%;
	    white-space: nowrap;
	}
	
	#table{
		overflow: auto;
		height: 188px;
	}
	#pie{
		margin-top: 10px;
		border:1px solid #f1f1f1;
		width: 100%;
		height: 300px;
	}
}
	
