body{
	width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}
h1{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: rgb(153,0,153);
	border:1px solid grey;
	height: 60px;
	line-height: 60px;
}
nav{
	width: 200px;
	border:1px solid grey;
	height: 500px;
	float: left;
}
nav ul{
	padding: 0px;
	margin:0px;
}
nav ul li{
	text-align: center;
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	background-color: grey;
	font-size: 20px;
}
#container{
	float: left;
	width: 800px;
	height: 500px;
	border:1px solid grey;
}
#table{
	
	border:1px solid grey;
	overflow: auto;
	height: 200px;
}
footer{
	border:1px solid grey;
	height: 60px;
	clear: both;
}
footer p{
	text-align: center;
	line-height: 60px;
	font-size: 18px;
}
div p button{
	width: 80px;
	height: 30px;
	margin-left: 20px;
	margin-top: 30px;
}
table{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: #c8cee1;
	border-collapse: collapse;   
	border: none; 
}
table td,th{
	border:1px solid grey;
}
tr th:nth-child(1){
	height: 30px;
	width: 50px;
	text-align: center;
}
tr th:nth-child(2){
	height: 30px;
	width: 120px;
	text-align: center;
}
tr th:nth-child(3){
	height: 30px;
	width: 120px;
	text-align: center;
}
tr th:nth-child(4){
	height: 30px;
	width: 120px;
	text-align: center;
}
tr th:nth-child(5){
	height: 30px;
	width: 240px;
	text-align: center;
}
tr td{
	text-align: center;
	height: 30px;
}
div #page{
	position: relative;
	top: 100px;
}
div p span{
	display: inline-block;
	width: 100px;
	text-align: center;
}


#handleRecord{
	display: none;
	border:1px solid grey;
	background-color: #D8D8D8;
	margin: 0 auto;
	width: 500px;
	height: 300px;
	z-index: 2;
	position: absolute;
	top: 250px;
	left: 0px;
	right: 0px;
}

#handleRecord p{
	height: 30px;
	line-height: 30px;
	font-size: 22px;
	background-color: rgb(91,192,222);
	color: white;
	text-align: center;
}

#handleRecord label{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 30%;
	text-align: center;
}

#handleRecord input,select{
	display: inline-block;
	height: 40px;
	width: 60%;
	/*margin: 20px auto 0;*/
}
#handleRecord button{
	display: inline-block;
	background-color: rgb(140,182,192);
	border-radius: 8px;
	width: 100px;
	height: 30px;
	margin: 20px;
}
#handleRecord #btn{
	width: 300px;
	margin: 0 auto;
}



